<style>
	div.user {
		position: fixed;
		top: 20px;
		right: 20px;
		color: #FFF;
		font-weight: 900;
	}
	div.user:before {
		content: "Username: ";
	}
	
	
	table.threads {
		border-collapse: collapse;
		width: 100%;
	}
	
	table.threads td {
		border: 0px solid black;
		border-bottom: 30px solid #FFF;
		padding: 10px;
	}
	table.threads td:first-child {
		width: 30%;
		background-color: #0FD;
	}
</style>
<script>
	function checkbox() {
		box = document.getElementById('public');
		select = document.getElementById('remove');
		if (box.checked == true):
			select.disabled = false;
		else:
			select.disabled = true;
	}
</script>

{{ threads | safe }}

<h2>Type here:</h2>
<form active="./thread?post={{ post }}" method="post">
	Text: <textarea id="remove" name="comment" cols="50"></textarea><br>
	
	<!--
	<input type="checkbox" name="public" id="public" onclick="checkbox()" />
	<label for="public">Allow everyone to show this thread</label><br>
	
	<select id="select" name="select" multiple>
		<option>Lage</option>
		<option>Björn</option>
	</select>-->
	<input type="submit" />
</form>
<hr>
